In [2]:
import datetime
import pandas as pd

In [3]:
df = pd.DataFrame({"TIME_STAMP":['2017-10-01 15:23:25', '2017-10-09 00:12:58', '2017-10-23 19:55:03',
                                 '2017-11-06 19:24:31', '2017-11-26 12:25:49', '2017-11-27 18:11:49',
                                 '2017-12-18 08:02:36']})

In [4]:
df

            TIME_STAMP
0  2017-10-01 15:23:25
1  2017-10-09 00:12:58
2  2017-10-23 19:55:03
3  2017-11-06 19:24:31
4  2017-11-26 12:25:49
5  2017-11-27 18:11:49
6  2017-12-18 08:02:36

# Expected Output

Method 1 - Using .dt.time

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TIME_STAMP  7 non-null      object
dtypes: object(1)
memory usage: 184.0+ bytes

In [7]:
# Convert time_stamp column to datetime object
df["TIME_STAMP"] = pd.to_datetime(df["TIME_STAMP"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TIME_STAMP  7 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 184.0 bytes

In [9]:
# Code to extract Time
df["TIME_STAMP"].dt.time

0    15:23:25
1    00:12:58
2    19:55:03
3    19:24:31
4    12:25:49
5    18:11:49
6    08:02:36
Name: TIME_STAMP, dtype: object

### Directive
 - `%H` : Hour (24-hour clock) as a decimal number [00,23]
 - `%I` : Hour (12-hour clock) as a decimal number [01,12]
 - `%M` : Minute as a decimal number [00,59]
 - `%S` : Second as a decimal number [00,61]
 
[pandas.Period.strftime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Period.strftime.html)

## Extraing Date in `%H-%M-%S` Format

In [11]:
df["TIME_STAMP"].dt.strftime("%H-%M-%S")

0    15-23-25
1    00-12-58
2    19-55-03
3    19-24-31
4    12-25-49
5    18-11-49
6    08-02-36
Name: TIME_STAMP, dtype: object

## Extract on Minute-Second(`%M-%S`) Information

In [12]:
df["TIME_STAMP"].dt.strftime("%M:%S")

0    23:25
1    12:58
2    55:03
3    24:31
4    25:49
5    11:49
6    02:36
Name: TIME_STAMP, dtype: object